@model Task.Models.User

@{
    ViewBag.Title = "Reset password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("Forgotpassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Forgot Password</h4>
        <hr />
        <div>
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class=" control-label col-md-2"> Enter Email</label>
            <div class="col-md-10">
                @Html.TextBox("emailID", "", new { @class = "form --contrrol" })

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />

            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
